.ant-switch-checked-steelblue {
    background-color: steelblue;
}
.ant-switch-checked-dodgerblue {
    background-color: dodgerblue;
}
.ant-switch-checked-royalblue {
    background-color: royalblue;
}